.AboutUs {
    padding: 10px;
}

.AboutUs h1 {
    text-align: center;
    /* font-size: 30px; */
    font-weight: 900;
}

.Appearance h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.Appearance-image {
    text-align: center;
}