/* サイドバールタート */
.sidebar-toggler {
	color: rgba(0,0,0,.5);
	border-color: rgba(0,0,0,.1);
	padding: .25rem .75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.sidebar-toggler:hover, .sidebar-toggler:focus {
	text-decoration: none;
}

.sidebar {
	max-width: 100vw;
	max-height: calc(100vh - 54px);
	min-height: calc(100vh - 54px);
	width: 0;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	z-index: 500;

	-webkit-transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
	-moz-transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
	-ms-transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
	-o-transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
	transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
}

.content {
	max-width: 100vw;
	max-height: calc(100vh - 52.8px);
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	
	-webkit-transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
	-moz-transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
	-ms-transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
	-o-transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
	transition: width 0.5s cubic-bezier(0.25, 0.45, 0.45, 1);
}

.sidebar.collapse-horizontal.show {
	width: 100%;
}
.sidebar.collapse-horizontal {
	width: 0;
}

.sidebar.collapse-vertical.show {
	height: 100%;
}

.sidebar.collapse-horizontal.show~ .content {
	width: 0;
}
.sidebar.collapse-horizontal~ .content {
	width: 100vw;
}

.sidebar > span, .sidebar > a {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.sidebar > a {
	transition: 0.25s;
}

.sidebar > a:hover {
	background-color: #EAEAEA;
}
/* サイドバールエンドー */

/* HOVER CAM */
.hover-cam {
	width: min-content;
	height: min-content;
	position: relative;
}

.hover-cam > span.icon, .hover-zoom, .hover-zoom-2, .div-hover-zoom > div, .a-hover-zoom > a, .a-fa-hover-zoom > a > svg, .div-hover-zoom-2 > div, .a-hover-zoom-2 > a, .a-fa-hover-zoom-2 > a > svg, .secondary-hover-dark {
	transition: 0.25s;
}

.hover-zoom:hover, .div-hover-zoom > div:hover, .a-hover-zoom > a:hover, .a-fa-hover-zoom > a > svg:hover {
	transform: scale(1.0625);
	-o-transform: scale(1.0625);
	-ms-transform: scale(1.0625);
	-moz-transform: scale(1.0625);
	-webkit-transform: scale(1.0625);
}
.hover-zoom-2:hover ,.div-hover-zoom-2 > div:hover, .a-hover-zoom-2 > a:hover, .a-fa-hover-zoom-2 > a > svg:hover {
	transform: scale(1.125);
	-o-transform: scale(1.125);
	-ms-transform: scale(1.125);
	-moz-transform: scale(1.125);
	-webkit-transform: scale(1.125);
}

.hover-cam > span.icon {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.hover-cam > span.icon > .hover-icon, .hover-cam > span.icon > .hover-icon-2x {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	opacity: 0.75;
}

.hover-cam > span.icon > .hover-icon {
	font-size: 250%;
}

.hover-cam > span.icon > .hover-icon-2x {
	font-size: 500%;
}

.hover-cam > span.icon:hover,
.hover-cam > span.icon:focus {
	opacity: 1;
}
/* HOVER CAM END */

.custom-hr {
	border-width: 2.5pt;
}

/* ADMIN SEARCH */
@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(-6.25%);
		-o-transform: translateX(-6.25%);
		-ms-transform: translateX(-6.25%);
		-moz-transform: translateX(-6.25%);
		-webkit-transform: translateX(-6.25%);
	}

	to {
		opacity: 1;
		transform: translateX(0%);
		-o-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-webkit-transform: translateX(0%);
	}
}

@keyframes slideInRight {
	from {
		opacity: .25;
		transform: translateX(6.25%);
		-o-transform: translateX(6.25%);
		-ms-transform: translateX(6.25%);
		-moz-transform: translateX(6.25%);
		-webkit-transform: translateX(6.25%);
	}

	to {
		opacity: 1;
		transform: translateX(0%);
		-o-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-webkit-transform: translateX(0%);
	}
}

#table-content tr:nth-of-type(odd) {
	-webkit-animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInLeft;
	-moz-animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInLeft;
	-ms-animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInLeft;
	-o-animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInLeft;
	animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInLeft;
}

#table-content tr:nth-of-type(even) {
	-webkit-animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInRight;
	-moz-animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInRight;
	-ms-animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInRight;
	-o-animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInRight;
	animation: 1s cubic-bezier(0.5, 1, 0.5, 1) slideInRight;
}
/* ADMIN SEARCH END */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/* サイドバースタート */
	.sidebar-toggler {
		display: none;
	}

	.sidebar {
		max-width: 15rem;
		width: 15rem!important;
		overflow-y: auto;
	}

	.sidebar~ .content {
		max-width: 100%;
	}

	.sidebar > span, .sidebar > a {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.sidebar > a:hover {
		background-color: #EAEAEA;
	}
	/* サイドバーエンドー */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}