.Reservation {
  /* background-image: url('./img/main_background.png'); */

  /* spacing */
  /* margin: 100px; */
}

.Reservation .logo {
  text-align: center;
}

.Reservation img {
  width: 400px;
  height: 100px;
}

.Reservation hr {
  margin: 0px;
}

.Reservation-form {
  width: 60%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.Reservation-form h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.Reservation .return-button {
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: black;
  border-radius: 10px;

  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.Reservation-details {
  background-color: white;
  padding: 50px;
  padding-top: 20px;
  text-align: center;

  /* border */
  border-radius: 5px;

  /* padding-top: 10px; */
}

.Reservation-details ol {
  margin: 0px;
  margin-bottom: 10px;
}

.Reservation-details li {
  font-size: 20px;
  font-weight: 700;
  margin-right: 50px;

}

.Reservation-details .Dates {
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}



.Dates input[type='number'] {
  padding: 20px;
  border-width: 0.5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Dates input[type='date'] {
  padding: 20px;
  border-width: 0.5px;

}

.Dates .find-table-button {
  color: white;
  font-size: 20px;
  background-color: #E45454;
  padding: 17px;

  border-color: #808080;
  border-width: 0.5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.TimeList {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.Time button {
  color: white;
  font-size: 20px;
  background-color: #E45454;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 10px;
  border: none;

}

.Details {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.Details-left {
  width: 50%;
}

.Details .Details-left-input {
  margin: 30px;
  display: flex;

  justify-content: left;
  margin-top: 0px;
}

.Details-left-icon {
  font-size: 50px;
  margin-right: 20px;
}

.Details .Details-left-input input {
  font-size: 24px;
}

.Details-left-icon .adjustment {
  margin-left: 10px;
}

.Details-left-input input[type='checkbox'] {
  height: 25px;
  width: 25px;
  margin-right: 25px;
}

.Detail-right h2 {
  text-align: left;
}

.Details-right-icon {
  font-size: 25px;
}

.Details-right-item {
  /* margin: 30px; */
  display: flex;

  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.Details-right input[type='text'] {
  width: 280px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.Details-reserve-button {
  font-size: 32px;
  font-weight: 700;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: #DF7676;
  border-radius: 10px;
  border-color: #854646;
}

.ReservationConfirmed {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
}

.ReservationConfirmed-success {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  color: white;
  background-color: #2F864D;

  padding: 50px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ReservationConfirmed-success-icon {
  width: 30px;
  height: 30px;
  color: rgb(11, 169, 11);
}

.ReservationConfirmed-details {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  padding-top: 50px;
  padding-bottom: 50px;
}

.ReservationConfirmed-success-title {
  font-size: 28px;
  font-weight: 900;
}

.ReservationConfirmed-details-content {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 200px;

  margin-bottom: 100px;
}

.ReservationConfirmed-details-button {
  display: flex;
  justify-content: center;
}

.ReservationConfirmed-details-button button {
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: 900;
  padding-left: 30px;
  padding-right: 30px;
}