.Navigation {
  background-image: url("./img/background.png");
}

.Navigation-title {
  -webkit-text-fill-color: #FF2E00;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}