.ReservationSelectionCard-outer {
    background-color: #F4F0F0;
    padding: 10px;
}

.ReservationSelectionCard-inner {
    background-color: white;
    cursor: pointer;

    padding: 40px;
}

.ReservationSelectionCard-inner p {
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 0px;
}

.ReservationSelectionCard-inner img {
    width: 170px;
    height: 170px;
}

.ReservationSelectionCard-inner:hover {
    opacity: 0.7;
}

.ReservationSelectionCardInner-link {
    /*  */
}