.Announcement {
    background-color: white;
    padding: 10px;
}

.Announcement h1 {
    text-align: center;
    font-weight: 900;

    /* spacing */
    margin-bottom: 30px;
}

.Announcement hr {
    /* width: 80%; */
    color: black;

}


.AnnouncementItem {
    color: black;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.Announcement-image img {
    width: 320px;
    height: 140px;
    object-fit: center;
}

.AnnouncementItem-description {
    font-size: 2vw;
}

.AnnouncementItem-description .date {
    font-size: 1.2vw;
}

.AnnouncementItem-description .title {
    font-weight: 900;
}

.AnnouncementItem-description .summary {
    font-size: 1.75vw;
    /* (description / title) * title */
}

a {
    text-decoration: none;
}