.Home {
    margin-top: 50px;
}


/* .Home .main-image img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
} */

p {
    color: black;
    background-color: white;
    text-align: center;
}

.moredetails {
    color: black;

    text-decoration: underline;
}

a:hover {
    color: rgb(53, 52, 52);
}