.AboutUs-title {
  text-align: center;
  background-color: #38480A;
  padding: 5px;
}
  
.AboutUs-title h2 {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.AboutUs img {
  /* padding: 0px;
  margin: 0px; */
  width: inherit;
  height: inherit;
  /* object-fit: cover;  */
}

.insta-icon {
  font-size: 5vw;
  color: white;
}

.clock-icon, .phone-icon, .arrow-icon {
  color: white;
}

.AboutUs-description {
  background-color: #272D06;
  color: white;
  border-bottom: 1px solid #615B5B;
  padding:0px;
  margin:0;
}

.AboutUs-description p {
  margin:0;
}

.AboutUs .container-fluid {
  padding: 0;
}