.ReservationSuccess,
.ReservationSuccess-links {
    text-align: center;
    color: white;
}

.ReservationSuccess {
    font-size: 20px;
    padding: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1D7B3E;
    border-radius: 10px;
}

.ReeservationSuccess-icon {
    color: #00ff59a1;
    width: 50px;
    height: 50px;
    background-color: white, 0.9;
    border-radius: 100%;
}

.ReservationSuccess-links .link {
    color: rgb(80, 71, 71);
    text-decoration: underline;
}

.ReservationSuccess-links .link:hover {
    opacity: 0.7;
}