.text-counter-parent {
	display: flex;
	flex-direction: column;
}

.text-counter-input {
	border-radius: 0.25rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.text-counter {
	border-radius: 0.25rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-align: right;
	color: white;
	background-color: #6c757d;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	transition: 0.25s;
}

.text-counter.bg-danger {
	background-color: #dc3545;
}

.text-counter-input.mark-danger:focus {
	border-color: rgb(255 0 0 / 25%);
	box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
}